<header>
  <img
    src="assets/img/ronyeri.jpg"
    alt="Ronyeri Marinho - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Ronyeri Marinho</h1>
</header>
<aside>
  <div class="container">
    <p>Software Developer | Java | Spring | Cloud Services</p>
    <p>Recife, PE - Brazil</p>
    <p>
      I am a software developer with over 3 years of experience in software
      development using Java (versions 8, 11, and 17) and the Spring ecosystem
      (Spring Boot, Spring Web, Spring Data, and Spring Security).
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
            <img
              src="assets/icons/download.svg"
              alt="Ícone para contato via e-mail"
              width="22px"
              height="24px"
              class="btn-icon"
            />
            Baixar Currículo</a
          >
        </li>

        <li>
          <a
            href="https://www.linkedin.com/in/ronyeri-marinho/"
            target="_blank"
            class="btn btn-secondary"
          >
            <img
              src="assets/icons/linkedin.svg"
              alt="Ícone para contato via e-mail"
              width="22px"
              height="24px"
              class="btn-icon"
            />
            LinkedIn</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato via Whatsapp"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5581996310929&text=Ol%C3%A1%20Ronyeri!%20Podemos%20conversar?"
            target="_blank"
            ><strong>Vamos conversar?</strong>
            <p>Whatsapp: (81) 99631-0929</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para contato via e-mail"
          width="22px"
          height="24px"
        />

        <figcaption>
          <a href="mailto:ronyerimarinho19@gmail.com" target="_blank"
            ><strong>Me envie um e-mail!</strong>
            <p>ronyerimarinho19&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
